body{
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}

footer{
    clear: both;
    width: auto;
    height: 60px;
    padding: 10px;
    border: 3px solid #0098cb;
    background-color: #0098cb;
    text-align: center;
    color: white;
    border-radius: 5px;
}

#Holder{
	width: 1080px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 21px;
	margin-bottom: 21px;
}

#Header{
	height: 200px;
	background-image: url(../assets/banner.png);
	background-repeat: no-repeat;
	margin-bottom: 11px;

}

#NavBar{
	height: 60px;
	background-color: #0098cb;
}

#Content{
	height: 600px;
	clear: both;
	overflow: auto;
}

#BrowseContent{
    height: auto;
	clear: both;
	overflow: auto;
}

#PageHeading{
	height: auto;
	padding: 11px;
}

#ContentLeft{
	width: 280px;
	float: left;
	padding-left: 11px;
	padding-top: 11px;
}

#ContentRight{
	width: 680px;
	float: left;
}

h1{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	color: #333;
}
h2{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	color: #333;
}

h6{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	color: #333;
	font-size: 14px;
}

.StyleTextField{
	outline:none;
	width:200px;
	height: 35px;
	margin: 10px;
	border-radius: 6px;
	border:3px solid #eee;
}

.StyleTextField2{
	outline:none;
	width:400px;
	height: 45px;
	margin: 10px;
	border-radius: 6px;
	border:3px solid #eee;
}

.StyleButton{
	outline:none;
	width:210px;
	height: 40px;
	margin: 10px;
	border-radius: 6px;
	border:3px solid #0098cb;
	background-color: #0098cb;
	color: white;
	cursor: pointer;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
